{
    "printWidth": 100,
    "tabWidth": 2,
    "singleQuote": true,
    "bracketSpacing": true,
    "endOfLine": "lf",
    "trailingComma": "all",
    "semi": true,
    "plugins": ["@trivago/prettier-plugin-sort-imports"],
    "importOrder": ["^[a-z]", "^@", "^[./]"],
    "importOrderSeparation": false,
    "importOrderSortSpecifiers": true
}
