# Rails API URL used for server-to-server requests
API_HOST=http://apiserver:3000
# Public OnTrack URL used for browser redirects
APP_HOST=https://ontrack.example.com

PORT=3001

LTI_KEY=unset

PLATFORM_URL=https://moodle.example.com
PLATFORM_NAME=Moodle Testing
# Retrieve the Client ID from Moodle after adding OnTrack as an external tool
PLATFORM_CLIENT_ID=unset
PLATFORM_AUTHENTICATION_ENDPOINT=hhttps://moodle.example.com/mod/lti/auth.php
PLATFORM_ACCESS_TOKEN_ENDPOINT=https://moodle.example.com/mod/lti/token.php
PLATFORM_AUTHCONFIG_METHOD=JWK_SET
PLATFORM_AUTHCONFIG_KEY=https://moodle.example.com/mod/lti/certs.php

DB_HOST=localhost:27017
DB_NAME=ltidb
DB_USER=user
DB_PASS=password

LTI_SHARED_API_SECRET=unset
